/***
**Product List
*****/
.woosc-products-container {
  display: table;
  width: 100%;

  .woosc-product {
    display: table-row;
    box-shadow: inset 0px 3px 5px #efefef;
  }

  .woosc-product-item-col {
    padding: 15px;
    display: table-cell;
    vertical-align: top;
  }

  .woosc-product-thumbnail {
    div {
      width: 60px;
    }
  }

  .woosc-product-title {
    div {
      width: 200px;

      h3 {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 20px;

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 12px;
      }
    }
  }

  .woosc-product-short-description {
    p {
      margin: 0;
      padding: 0;
    }
  }

  .woosc-product-price {
    ins {
      background: transparent;
    }
  }

  .woosc-product-cart-action {
    a {
      width: 120px;
      display: block;
      padding: 10px;
      text-align: center;
      border-radius: 2px;
      text-decoration: none;
      @extend %product-item-branding;

      &.added_to_cart.wc-forward {
        display: none;
      }
    }
  }

}

.woosc-ajax-pre-loader-container {
  display: table;
  margin: 0 auto;

  img {
    box-shadow: none;
  }
}

.woosc-load-more-wrapper {
  button {
    cursor: pointer;
    border: none;
    width: 120px;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    margin: 30px auto;
    outline: none;
    @extend %product-search-branding;
    &:hover{
      @extend %product-item-branding;
    }
  }
}
