.woosc-floting-cart-trigger {
  background-color: #6b3ff1;
  color: #ffffff;
}

.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell .woosc-cart-item-quantity-oparation > div:nth-child(3), .woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell .woosc-cart-item-quantity-oparation > div:nth-child(1), .woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div:last-child > div, .woosc-template-1 .woosc-load-more-wrapper button, .woosc-template-1 .woosc-products-search {
  background-color: #fccc4c !important;
  color: #FFFFFF !important;
}

.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell .woosc-cart-item-quantity-oparation > div:nth-child(3):hover, .woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell .woosc-cart-item-quantity-oparation > div:nth-child(1):hover, .woosc-template-1 .woosc-load-more-wrapper button:hover, .woosc-template-1 .woosc-products-container .woosc-product-cart-action a, .woosc-template-1 .woosc-products-search .woosc-products-search-form .woosc-products-search-field input[type=submit] {
  background-color: #17b33b;
  color: #ffffff;
}

.woosc-template-1 {
  /***
  **Product Search
  *****/
  /***
  **Product List
  *****/
}
.woosc-template-1 * {
  box-sizing: border-box;
}
.woosc-template-1 .woosc-products-search {
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 20px 20px 20px !important;
  position: relative;
}
.woosc-template-1 .woosc-products-search:before, .woosc-template-1 .woosc-products-search:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 20px;
  left: 20px;
  width: 50%;
  top: 40px;
  max-width: 400px;
  background: 0 0;
  box-shadow: 0 15px 13px #333;
  transform: rotate(-2deg);
}
.woosc-template-1 .woosc-products-search:after {
  transform: rotate(2deg);
  right: 20px;
  left: auto;
}
.woosc-template-1 .woosc-products-search .woosc-products-search-form {
  display: flex;
  align-items: flex-end;
}
.woosc-template-1 .woosc-products-search .woosc-products-search-form .woosc-products-search-field {
  padding: 5px;
  width: 100%;
}
.woosc-template-1 .woosc-products-search .woosc-products-search-form .woosc-products-search-field label {
  font-weight: bolder !important;
  text-transform: uppercase;
}
.woosc-template-1 .woosc-products-search .woosc-products-search-form .woosc-products-search-field input[type=text], .woosc-template-1 .woosc-products-search .woosc-products-search-form .woosc-products-search-field select {
  display: block;
  width: 100%;
  margin: 0 !important;
  height: 35px;
  outline: none;
  border: 1px solid #F5F5F5;
  border-radius: 2px;
  color: #444;
}
.woosc-template-1 .woosc-products-search .woosc-products-search-form .woosc-products-search-field .chosen-container-single {
  width: 100% !important;
}
.woosc-template-1 .woosc-products-search .woosc-products-search-form .woosc-products-search-field input[type=submit] {
  width: 100%;
  height: 35px;
  line-height: 20px;
  padding: 8px;
  text-align: center;
  border-radius: 2px;
  border: none;
}
.woosc-template-1 .woosc-products-container {
  display: table;
  width: 100%;
}
.woosc-template-1 .woosc-products-container .woosc-product {
  display: table-row;
  box-shadow: inset 0px 3px 5px #efefef;
}
.woosc-template-1 .woosc-products-container .woosc-product-item-col {
  padding: 15px;
  display: table-cell;
  vertical-align: top;
}
.woosc-template-1 .woosc-products-container .woosc-product-thumbnail div {
  width: 60px;
}
.woosc-template-1 .woosc-products-container .woosc-product-title div {
  width: 200px;
}
.woosc-template-1 .woosc-products-container .woosc-product-title div h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}
.woosc-template-1 .woosc-products-container .woosc-product-title div h3 a {
  text-decoration: none;
  color: inherit;
}
.woosc-template-1 .woosc-products-container .woosc-product-title div p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.woosc-template-1 .woosc-products-container .woosc-product-short-description p {
  margin: 0;
  padding: 0;
}
.woosc-template-1 .woosc-products-container .woosc-product-price ins {
  background: transparent;
}
.woosc-template-1 .woosc-products-container .woosc-product-cart-action {
  text-align: right;
}
.woosc-template-1 .woosc-products-container .woosc-product-cart-action > div {
  display: inline-block;
}
.woosc-template-1 .woosc-products-container .woosc-product-cart-action a {
  width: 120px;
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
}
.woosc-template-1 .woosc-products-container .woosc-product-cart-action a.added_to_cart.wc-forward {
  display: none;
}
.woosc-template-1 .woosc-ajax-pre-loader-container {
  display: table;
  margin: 0 auto;
}
.woosc-template-1 .woosc-ajax-pre-loader-container img {
  box-shadow: none;
}
.woosc-template-1 .woosc-load-more-wrapper button {
  cursor: pointer;
  border: none;
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  margin: 30px auto;
  outline: none;
}
/***
**Flying Image
*****/
#animated-product-image-box {
  position: absolute;
  z-index: 99999;
  width: 60px;
}

@keyframes flyingProductRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loaderAmin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
#animated-product-image-box img {
  animation: flyingProductRotate 1s infinite;
}

/*Cart Trigger*/
@keyframes cartTriggerAnim {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  50% {
    transform: rotate(-45deg) translateY(50px);
  }
  100% {
    transform: rotate(45deg) translateY(-10px);
  }
}
.new-product-item-added {
  animation: cartTriggerAnim 0.6s infinite;
  animation-delay: 0.5s;
}

.woosc-floting-cart-trigger {
  position: fixed;
  right: 10px;
  z-index: 999999;
  cursor: pointer;
  box-shadow: 0px 0px 15px #999;
  top: 50%;
  text-align: center;
  min-width: 80px;
  transition: 0.5s;
}

.woosc-floting-cart-trigger.woosc-floting-cart-trigger-activated {
  transform: rotate(45deg);
  top: 100px;
  right: 340px;
}

.woosc-floting-trigger-item-count:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  height: 23px;
  top: -17px;
  border: 2px solid #6b3ff1;
  border-bottom: none;
  border-radius: 30px;
}

.woosc-floting-trigger-item-count {
  width: 100%;
  padding: 10px 5px;
  position: relative;
  min-height: 50px;
  box-sizing: border-box;
}

.woosc-floting-trigger-cart-total {
  width: 100%;
  padding: 5px;
  min-height: 30px;
  box-sizing: border-box;
}

.woosc-floating-cart {
  position: fixed;
  right: -320px;
  z-index: 999999;
  top: 0;
  bottom: 0;
  width: 320px;
  box-sizing: border-box;
  overflow-y: auto;
  border-left: 1px solid #f5f5f5;
  background-color: #ffffff;
  transition: 0.5s;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.woosc-floating-cart ::-webkit-scrollbar {
  width: 8px;
}
.woosc-floating-cart ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.woosc-floating-cart ::-webkit-scrollbar-thumb {
  background: #6b3ff1;
  border-radius: 10px;
}
.woosc-floating-cart ::-webkit-scrollbar-thumb:hover {
  background: #6b3ff1;
}
.woosc-floating-cart.woosc-floating-cart-activated {
  right: 0;
}
.woosc-floating-cart .woosc-floating-cart-inner {
  position: relative;
  height: calc(100% - 48px);
  width: 100%;
  box-sizing: border-box;
  padding: 60px 0 0;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc_cart_content {
  height: 100%;
  overflow: auto;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper #woosc-cart-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.44);
  z-index: 9999;
  height: 100%;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper #woosc-cart-loader:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  animation: loaderAmin 0.6s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 10px solid;
  border-top-color: #ff402f;
  border-bottom-color: #8b61ff;
  border-left-color: #44803b;
  border-right-color: #feff39;
  transform: translate(-25px, -25px);
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table {
  display: table;
  width: 100%;
  border: 1px solid #eeeeee;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div {
  display: table-row;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div:nth-child(odd) > div {
  background-color: #F5F5F5;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div:last-child > div {
  font-size: 16px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div {
  display: table-cell;
  padding: 5px;
  position: relative;
  vertical-align: top;
  border-bottom: 1px solid #eeeeee;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div a {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: inherit;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div a:hover {
  text-decoration: none;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div dl.variation {
  font-size: 80%;
  display: flex;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div dl.variation dt {
  padding-right: 5px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div dl.variation p {
  margin-bottom: 0;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-thumb-cell {
  width: 40px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-thumb-cell img {
  width: 30px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell {
  max-width: 60px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell .woosc-cart-item-quantity-oparation {
  display: flex;
  margin-bottom: 5px;
  border-radius: 5px;
  flex-direction: column-reverse;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell .woosc-cart-item-quantity-oparation > div {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0px;
  text-align: center;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell .woosc-cart-item-quantity-oparation > div:nth-child(1) {
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  transition: 0.5s;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell .woosc-cart-item-quantity-oparation > div:nth-child(2) {
  background-color: #ffebb6;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell .woosc-cart-item-quantity-oparation > div:nth-child(3) {
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  transition: 0.5s;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell input[type=number] {
  width: 100%;
  border: none;
  background: none;
  padding: 0 !important;
  height: auto !important;
  margin: 0 !important;
  text-align: center;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell input[type=number]:focus {
  box-shadow: none;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell input[type=number]::-webkit-inner-spin-button, .woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-quantity-cell input[type=number] ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-price-cell > span {
  display: inline-flex;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-price-cell > span:first-child {
  padding-right: 30px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-price-cell .woosc-remove-cart-item {
  position: absolute;
  right: 10px;
  top: 10px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper .woosc-cart-table > div > div.woosc-cart-price-cell .woosc-remove-cart-item button {
  padding: 2px;
  line-height: 7px;
  border-radius: 50%;
  transition: 0.5s;
  color: #FFF;
  display: block;
  height: 15px;
  width: 15px;
  background-color: red;
  font-size: 14px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  border: none;
}
.woosc-floating-cart .woosc-floating-cart-header {
  top: 0;
  background: #6b3ff1;
  position: absolute;
  box-sizing: border-box;
  padding: 16px;
  left: 0;
  right: 0;
}
.woosc-floating-cart .woosc-floating-cart-header h3 {
  font-size: 24px;
  margin: 0;
  color: #ffffff;
}
.woosc-floating-cart .woosc-floating-cart-footer {
  bottom: 0;
  background: #ffffff;
}
.woosc-floating-cart .woosc-floating-cart-footer ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.woosc-floating-cart .woosc-floating-cart-footer ul li {
  flex: 0 0 50%;
  max-width: 50%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.woosc-floating-cart .woosc-floating-cart-footer ul li:last-child a {
  background: #6b3ff1;
}
.woosc-floating-cart .woosc-floating-cart-footer ul li a {
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  background: #b49ef8;
  display: block;
  text-decoration: none;
}

/*
* Template for Medium
*/
.woosc-medium-container .woosc-products-container {
  display: block;
}
.woosc-medium-container .woosc-products-container .woosc-product {
  display: flex;
  flex-wrap: wrap;
}
.woosc-medium-container .woosc-products-container .woosc-product .woosc-product-item-col {
  padding: 8px;
  display: block;
}
.woosc-medium-container .woosc-products-container .woosc-product .woosc-product-item-col.woosc-product-short-description {
  width: calc(100% - (216px + 76px));
}
.woosc-medium-container .woosc-products-container .woosc-product .woosc-product-item-col.woosc-product-cart-action {
  margin-left: auto;
}

/*
* Template for Small
*/
.woosc-small-container .woosc-products-search,
.woosc-extra-small-container .woosc-products-search {
  padding: 30px 0;
}
.woosc-small-container .woosc-products-search .woosc-products-search-form,
.woosc-extra-small-container .woosc-products-search .woosc-products-search-form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.woosc-small-container .woosc-products-search .woosc-products-search-form .woosc-products-search-field,
.woosc-extra-small-container .woosc-products-search .woosc-products-search-form .woosc-products-search-field {
  padding: 5px;
  width: 100%;
}
.woosc-small-container .woosc-products-container,
.woosc-extra-small-container .woosc-products-container {
  display: block;
}
.woosc-small-container .woosc-products-container .woosc-product,
.woosc-extra-small-container .woosc-products-container .woosc-product {
  display: flex;
  flex-wrap: wrap;
}
.woosc-small-container .woosc-products-container .woosc-product .woosc-product-item-col,
.woosc-extra-small-container .woosc-products-container .woosc-product .woosc-product-item-col {
  padding: 10px;
  display: block;
}
.woosc-small-container .woosc-products-container .woosc-product .woosc-product-item-col.woosc-product-title,
.woosc-extra-small-container .woosc-products-container .woosc-product .woosc-product-item-col.woosc-product-title {
  width: calc(100% - 80px);
}
.woosc-small-container .woosc-products-container .woosc-product .woosc-product-item-col.woosc-product-short-description,
.woosc-extra-small-container .woosc-products-container .woosc-product .woosc-product-item-col.woosc-product-short-description {
  width: calc(100%);
}
.woosc-small-container .woosc-products-container .woosc-product .woosc-product-item-col.woosc-product-cart-action,
.woosc-extra-small-container .woosc-products-container .woosc-product .woosc-product-item-col.woosc-product-cart-action {
  margin-left: auto;
}

/*# sourceMappingURL=style.css.map */
